.home {
	background-color: lightblue;
	height:100vh;
}
header {
	height: 50px;
	margin-bottom: -50px;
}
footer {
	height: 50px;
	margin-top: -50px;
	position: relative;
}
main {
	height: 100vh;
}


.heading{
	color: #8e44ad !important;
	font-family: monospace;
	text-align:center;
}
.enlarged-display {
	background: #2c3e50;
	color: #ecf0f1;
	border: 1px solid rgb(146, 238, 146);
	width: auto;
	height: auto;
	margin: 5px auto 0px;
	padding: 10px 10px 0px 10px;
}
.main-calculator{
	background: #c0392b;
	width: 320px !important;
	height: auto;
	padding: 2.5px 0 0 0;
    border-radius: 25px 10px 15px 15px;
}
.switch-calculation-display, .main-calculator{
    margin: 0 auto !important;
}
.display{
	background: #2c3e50;
	position: relative;
	width: 310px;
	height: 100px;
    margin: 5px auto 5px;
    border-radius: 20px 5px 5px 5px;
}
.buttons{
	width: 310px;
	padding: 0 0 0 0;
	position: relative;
	margin: 5px auto;
}
.switch-calculation-display {
	width: 200px;
	position: relative;
	display:block;
	margin: 1px auto ;
	text-align:center;
}
.num, .opp, .divide100, .clear, .negative, .remove {
	width: 73px;
	position: relative;
	display:block;
	float:left;
	margin: 1px 2px;
	text-align:center;
}
.num{
	background: #d35400 !important;
}
.opp, .divide100 {
	background: #2980b9 !important;
}
.clear, .remove {
	background: #8e44ad !important;
}
.numDec, .negative {
	background: #e67e22 !important;
}
.answer {
	background: #27ae60 !important;
}
.displayed-calc, .displayed-input {
	color: #ecf0f1;
	position: relative;
	margin-left: 10px;
}

.clear{
	border-radius: 0px 0px 0px 15px;
}
.answer{
	border-radius: 0px 0px 15px 0px;
}

.calculator-branding{
	width: 320px;
}
.calculator-header{
	color: #2980b9; 
	font-family: monospace;
	font-size: 21px;
	width: 60px;
	margin: 10px 0px 0px 8px;
}

.logo {
	position: relative;
	width:60px;
	margin: 7px 2px 7px 11px;
}

.calculation-save-form, .alert, .saved-calculation {
	overflow: hidden;  
}
.calculation-save-form {
	height: 60px;
	margin-bottom: 20px;
}
.alert {
	height: 40px;
	margin: 5px 0px 5px 0px; 
}

.saved-calculation {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.warning-border {
	border: 1px solid red !important;
}

.success-border {
	border: 1px solid green !important;
}

#save-status {
	color: green;
}

#list-item-status {
	color: green;
}

/*@media only screen and (min-width: 460px) {
    .home {
        padding: 5% 0px 0px 5%;
    }
}*/