/*-----------------------------------------color variables*/
/*------------------------------------------parent div colors*/
/*they dont require borders*/
.home {
  background: #31656A;
  color: #EDEAEA;
}

header, footer, .main-calculation-backup, .main-calculator {
  background: #007C7C;
  color: #EDEAEA;
}

/*-------------------------------------------------color mixins for child divs of calculator-section & calculation-backup-section*/
.num, .delete-calc {
  background: #F04D1E;
  border: 1px solid #004A4A;
  color: #EDEAEA;
}

.opp {
  background: #2E71C2;
  border: 1px solid #004A4A;
  color: #EDEAEA;
}

.answer, .switch-calculation-display, .save-calc, .load-calc {
  background: #1BC340;
  border: 1px solid #004A4A;
  color: #EDEAEA;
}

.divide100, .plus-minus {
  background: #FF8E00;
  border: 1px solid #004A4A;
  color: #EDEAEA;
}

.remove, .clear {
  background: #CB00B2;
  border: 1px solid #004A4A;
  color: #EDEAEA;
}

button:hover {
  background: #E8EE00;
  border: 1px solid #004A4A;
  color: #261843;
}

.form-control {
  background: #A7DFDF;
  border: 1px solid #004A4A;
  color: #261843;
}

.list-group-item, .saved-calculation {
  background: #21A5A5;
  border: 1px solid #004A4A;
  color: #261843;
}

.display, .enlarged-display {
  background: #261843;
  border: 1px solid #004A4A;
  color: #EDEAEA;
}

/*--------------------------------------transitons of color and opacity*/
/*new-saved-calculation color transistion*/
@-webkit-keyframes green-to-blue-fade {
  0% {
    background: #1BC340;
  }
  100% {
    background: #21A5A5;
  }
}
@keyframes green-to-blue-fade {
  0% {
    background: #1BC340;
  }
  100% {
    background: #21A5A5;
  }
}
.new-saved-calculation {
  -webkit-animation: green-to-blue-fade 1s ease-in 1;
  animation: green-to-blue-fade 1s ease-in 1;
}

/*removing-list-item opacity transition*/
.removing-list-item {
  opacity: 0;
  transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -webkit-transition: opacity 0.25s ease-in;
}

/*------------------other color / type variations for fonts and borders*/
/*font colors*/
#save-status, #calculator-status, .green-display-text {
  color: #1BC340;
}

#warning-status {
  color: #F04D1E;
}

/*thick borders*/
.warning-border {
  border: 3px solid #F04D1E !important;
}

.success-border, .enlarged-display {
  border: 3px solid #1BC340 !important;
}

/*border radius*/
button {
  border-radius: 5px 5px 5px 5px;
}

.clear {
  border-radius: 5px 5px 5px 15px;
}

.answer {
  border-radius: 5px 5px 15px 5px;
}

.enlarged-display {
  border-radius: 10px 10px 10px 10px;
}

/*-------------------------------------------------------------scroll bar*/
.home {
  overflow: auto;
}

/*----------------------------------------------------------------images*/
.logo {
  position: relative;
  float: left;
  width: 60px;
  margin: 6px 2px 0px 11px;
}

/*--------------------------------------------------font style, sizes and font margins*/
.main-heading {
  font-family: monospace;
  font-size: 15px;
  margin-top: 11px;
  text-align: center;
}

button {
  font: inherit 14px !important;
}

/*-------------------------------------------------------------------mixin for vertical margin and max-width*/
/*-------------------------------------------------mixin for header and footer to cover over 'main' element*/
/*-----------------------------------------------------------------------heights, width, margins and padding*/
/*parent divs*/
.home, main {
  height: 100vh;
  padding: 0px 0px 0px 0px;
}

header {
  height: 60px;
  margin-bottom: -60px;
}

footer {
  clear: both;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin-top: -50px;
}

.keyboard-instructions, .sub-heading {
  padding: 0px 5px;
}

#calculator-status, #save-status, #warning-status {
  padding-left: 5px;
}

/*calculation backup section and status alerts*/
.calculation-backup-section {
  padding: 20px 0px 30px 0px !important;
}
.calculation-backup-section .main-calculation-backup, .calculation-backup-section h4, .calculation-backup-section #save-status, .calculation-backup-section #warning-status, .calculation-backup-section .keyboard-instructions {
  width: 90% !important;
  max-width: 600px !important;
  min-width: 294px !important;
  margin: 2px auto;
}
.calculation-backup-section .section-description {
  margin: 5px 0px 5px 5px;
}
.calculation-backup-section .keyboard-instructions {
  display: block;
}

.main-calculation-backup {
  border-radius: 5px;
}
.main-calculation-backup .section-description {
  padding: 5px 0px 0px 5px;
}
.main-calculation-backup .row {
  padding-top: 0px;
  margin: 0 5px;
}
.main-calculation-backup .calculation-save-form, .main-calculation-backup .displayed-calculation-list {
  padding: 0 0 0 0;
}
.main-calculation-backup .calculation-save-form, .main-calculation-backup .saved-calculation, .main-calculation-backup .new-saved-calculation {
  overflow: hidden;
}
.main-calculation-backup .calculation-save-form {
  height: auto;
  margin-bottom: 13px;
}
.main-calculation-backup .save-calc {
  margin-top: 10px !important;
}
.main-calculation-backup .list-group-item {
  word-break: break-all;
}
.main-calculation-backup .saved-calculation, .main-calculation-backup .new-saved-calculation {
  position: relative;
  display: block;
  padding: 10px 20px 20px;
  margin-bottom: -1px;
}
.main-calculation-backup .saved-calculation .load-calc, .main-calculation-backup .new-saved-calculation .load-calc {
  margin-left: 10px !important;
}

/*calculator section*/
.calculator-section {
  padding: 100px 0px 0px 0px !important;
}
.calculator-section h4, .calculator-section #calculator-status, .calculator-section .main-calculator, .calculator-section .keyboard-instructions {
  width: 90% !important;
  max-width: 320px !important;
  min-width: 294px !important;
  margin: 3px auto;
}
.calculator-section .keyboard-instructions {
  display: none;
}

.main-calculator {
  height: 350px;
  margin: 0 0 0 0;
  padding: 2.5px 0 0 0;
  border-radius: 2px 2px 15px 15px;
}
.main-calculator .display {
  position: relative;
  width: auto;
  height: 70px;
  margin: 2px 2px 5px;
  border-radius: 3px 3px 3px 3px;
}
.main-calculator .display .displayed-calc, .main-calculator .display .displayed-input {
  position: relative;
  margin-left: 10px;
}

.enlarged-display {
  height: auto;
  padding: 10px 5px 5px 5px;
  width: 90% !important;
  max-width: 600px !important;
  min-width: 294px !important;
  margin: 1px auto;
}

/*calculator buttons*/
.buttons {
  width: auto;
  padding: 0 0 0 0;
  margin: 5px auto 0;
  position: relative;
}
.buttons button {
  position: relative;
  display: block;
  text-align: center;
  height: 38px;
}
.buttons .switch-calculation-display {
  width: 75%;
  margin: 3.5px auto 3.5px;
}
.buttons .num, .buttons .opp, .buttons .divide100, .buttons .clear, .buttons .plus-minus, .buttons .remove {
  width: 23%;
  float: left;
  margin: 3.5px 1% 3.5px 1%;
}

/*------------------------------------------------------copywrite*/
.copywrite {
  padding: 5px 5px 0px 10px;
}

/*--------------------------------------------------media queries*/
@media only screen and (min-width: 375px) {
  .main-calculator {
    border-radius: 10px 5px 15px 15px;
    height: 353px;
  }
  .main-calculator .display {
    margin: 5px 5px;
    border-radius: 10px 5px 5px 5px;
  }
}
@media only screen and (min-width: 449px) {
  header {
    height: 70px;
    margin-bottom: -70px;
  }

  .main-heading {
    font-size: 20px;
  }

  .logo {
    width: 70px;
    margin: 8px 2px 0px 11px;
  }
}
@media only screen and (min-width: 564px) {
  header {
    height: 77px;
    margin-bottom: -77px;
  }

  .main-heading {
    font-size: 24px;
  }

  .logo {
    width: 77px;
  }
}
@media only screen and (min-width: 670px) {
  header {
    height: 85px;
    margin-bottom: -85px;
  }

  .main-heading {
    font-size: 26px;
  }

  .logo {
    width: 85px;
    margin: 15px 2px 0px 11px;
  }
}
@media only screen and (min-width: 720px) {
  .main-heading {
    padding-top: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .calculation-backup-section, .calculator-section {
    padding: 100px 0px 70px 0px !important;
  }

  .calculator-section .keyboard-instructions {
    display: block;
  }

  .calculation-backup-section .keyboard-instructions {
    display: none;
  }

  .save-status {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
